img {
  width: 100px;
  height: 100px;
}

#scoreboard {
  background-color: #377cb5;
  position: absolute;
  left: 400px;
  top: 5px;
  width: 250px;
  height: 200px;
  font-size: 100px;
  text-align: center;
}

#wins, #losses {
  position: relative;
  top: 30px;
  left: 10px;
}

.text {
  font-size: 14px;
  position: relative;
  bottom: 50px;
}

.lisp {
  margin-left: 50px;
}
